* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    display: inline-block;
    width: 180px;
    height: 60px;
    border: none;
    background-color: rgba(250, 128, 114, 0.694);
    font-size: 20px;
    line-height: 60px;
    border-radius: 20px;

}
button:hover,
button:active,
button:focus{
    background-color: salmon;
    width: 190px;
    height: 70px;
    border: 1.5px solid slateblue;
}